
<div>
    <app-header></app-header>
    <app-navbar></app-navbar>
    <div class="sidebar shadow">
            <!-- <a class="active" href="#home"><i class="fa fa-fw fa-home"></i>Home</a> -->
            
            <a routerLink="/home"><i class="fa fa-fw fa-home"></i>Home</a><hr class="line">
            <!-- <a href="#contact"><i class="fa fa-fw fa-user"></i>Create</a>
            <a href="#news"><i class="fa fa-fw fa-wrench"></i>Manage</a> -->
            
          
    </div>
</div>
<div class="content" style="text-align: justify;">
    <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores blanditiis maxime quae sint, sunt, 
   impedit pariatur ipsa eius sit doloribus aut laborum delectus nobis non accusantium vero, possimus omnis. Tempora natus dignissimos
    assumenda pariatur fuga architecto alias sit commodi odio dolorem, dicta facilis laudantium quo officia sed quia? Voluptate deleniti, facere 
    ad enim molestias quos eum quia quod praesentium dolorum perspiciatis! Voluptatem, 
   cumque quae dolorum maxime nobis rerum minima mollitia, ex suscipit ducimus odio facilis quisquam. Mollitia obcaecati pariatur soluta libero 
   beatae repellendus magnam harum dignissimos, adipisci perferendis praesentium et explicabo accusantium? Iste corporis doloribus labore tenetur ad
    assumenda doloremque? -->
    <p>proof-validation works!</p>
</div>
