/* p{
    border:red; 
    border-radius: 5px; /* To make the corners round
    border-width:1px;   /* border thickness 
    border-style:solid;
    padding: 15px;
    background: rgb(243, 144, 144);
} */
