<app-header></app-header>
<div>
    <app-navbar></app-navbar>



    <div class="sidebar shadow">
        <!-- <a class="active" href="#home"><i class="fa fa-fw fa-home"></i>Home</a> -->
        <a routerLink="/home"><i class="fa fa-fw fa-home"></i>Home</a>
        <a routerLink="/create"><i class="fa fa-fw fa-user"></i>Create</a>
        <a routerLink="/manage"><i class="fa fa-fw fa-wrench"></i>Manage</a>


    </div>
</div>

<div class="content" style="text-align: justify;">
    <!--<h1 class="well" style="text-align: left;">Registration Form</h1> -->
    <div class="container">
        <br>
        <div class="col-lg-12 well">
            <div class="row">
                <form>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label>Name*</label>
                                <input type="text" placeholder="Enter First Name Here.." class="form-control"
                                    [(ngModel)]="employee.name" id="name" name="name" #name="ngModel">
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Employee-id*</label>
                                <input type="text" placeholder="Enter Employee-id Here.." class="form-control"
                                    [(ngModel)]="employee.employeeid" id="employeeid" name="employeeid"
                                    #employeeid="ngModel">
                            </div>
                        </div>
                        <!-- <div class="row">
                        <div class="col-sm-12 form-group">
                            <label>Designation*</label>
                            <input type="text" placeholder="Enter Designation Here.." class="form-control" [(ngModel)]="employee.designation" id="designation" name="designation" #designation="ngModel">
                        </div>
                        </div> -->
                        <div class="form-group">
                            <label>Phone Number*</label>
                            <input type="text" placeholder="Enter Phone Number Here.." class="form-control"
                                [(ngModel)]="employee.phonenumber" id="phonenumber" name="phonenumber"
                                #phonenumber="ngModel">
                        </div>
                        <div class="form-group">
                            <label>Email Address*</label>
                            <input type="text" placeholder="Enter Email Address Here.." class="form-control"
                                [(ngModel)]="employee.email" id="email" name="email" #email="ngModel">
                        </div>

                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label>PAN-number*</label>
                                <input type="text" placeholder="Enter PAN-number Here.." class="form-control"
                                    [(ngModel)]="employee.pan" id="pan" name="pan" #pan="ngModel">
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-md btn-info" (click)="saveEmployee()"> Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>