<div id="topheader">
<nav class="navbar navbar-expand-lg navbar-light bg-info fixed-top-2">

    <!-- hamburger button that toggles the navbar-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
        </span>
    </button>


    <a class="navbar-brand mx-5"></a>

    <!-- navbar links -->
    <div class="row">
        <div class="col col-lg-12 offset-md-2">
            <div class="collapse navbar-collapse nav-tabs" id="navbarNavAltMarkup">
                <!-- <div class="navbar-nav"> -->
                    <div class="nav nav-tabs">
                    <ul>
                    <li><button class="nav-item nav-link bg-info" data-toggle="tab" routerLink="/employee-management">
                        Employee-Management
                    </button></li>&nbsp;
                   <li> <button class="nav-item nav-link  bg-info" data-toggle="tab" routerLink="/declaration">IT-Declarations</button></li>&nbsp;
                    <li><button class="nav-item nav-link  bg-info" data-toggle="tab" routerLink="/submission">Proof-Submission</button></li>&nbsp;
                    <li><button class="nav-item nav-link bg-info" data-toggle="tab" routerLink="/validation">Proof-Validation</button></li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
</div>
<script>
    $('#topheader .navbar-nav button').on('click',
        function () {
            $('#topheader .navbar-nav').find('li.active')
                .removeClass('active');
            $(this).parent('li').addClass('active');
        });
</script>